.wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column-reverse;
}
button {
  border-radius: 25%;
  width: 100px;
  height: 100px;
}

button:hover {
  cursor: pointer;
}

button:nth-child(1) {
  border-radius: 25%;
  color: black;
  background: rgb(241, 193, 0);
}
button:nth-child(1):hover {
  color: rgb(241, 193, 0);
  background: black;
}

button:nth-child(2) {
  border-radius: 25%;
  color: black;
  background: rgb(131, 187, 221);
}
button:nth-child(2):hover {
  color: rgb(131, 187, 221);
  background: black;
}

button:nth-child(3) {
  background: rgb(234, 211, 39);
  color: black;
}
button:nth-child(3):hover {
    background: black;
    color: rgb(234, 211, 39);
  }
