.wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  height: 50px;
  color: purple;
  background: gold;
  border: 2px solid purple;
}

button:hover {
  cursor: pointer;
  color: gold;
  background: purple;
  border: 2px solid gold;
}

.wrapped {
    position: relative;
    top: 15px;
    color: purple;
    font-weight: bold;
}